name: CI
on: [workflow_dispatch, pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
          pip install torch torchvision opencv-python pillow pydantic nbdev==2.*

      - name: Export notebooks
        run: nbdev_export

      - name: Run tests
        run: nbdev_test
